/* VARIABLES */

// ROOT
:root {

	// COLORS
	--color-black: #000;
	--color-lBlack: #292929;

	--color-white: #FFF;

	--color-lGray: #D3E3EA;

	--color-red: #FF0000;

	--color-success: #219c3e;
	--color-warning: #d66519;
	--color-information: #2476ce;

}


// MEDIAQUERIES
$mediaqueries: (
	hover: "(hover: hover)",
	ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
	safari: "screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
	safari2: "not all and (min-resolution:.001dpcm)",
	mobS3: 360,
	mobS2: 480,
	mobS: 640,
	mob: 767,
	tabS: 820,
	tab: 991,
	lapS3: 1024,
	lapS2: 1199,
	lapS: 1280,
	lap: 1367,
	deskS: 1440,
	desk: 1560,
	deskB: 1680
);


// WIDTH
$widthLimit: 1280px;
$widthLimit600: 600px;


// COLORS
$black: #000;
$lBlack: #1E1E1E;
$xlBlack:  #3D3D3D;

$red: #D00E3E;

$beige: #ECE8EA;

$dBlue: #263238;

$mGray: #546E7A;
$lGray: #D3E3EA;
$xlGray: #ECEFF1;

$purple: #3949AB;

$green: #00897B;
$lGreen: #1ED760;

$white: #FFF;

$dOrange: #B55710;
$orange: #E67E22;

$twitter: #1DA1F2;
$whatsapp: #009846;


// ALERTS
$success: var(--color-success);
$warning: var(--color-warning);
$error: $red;
$information: var(--color-information);


// FORMS
$wrong: $red;


// LOADER
$bgLoader: $orange;
$strokeLoader: $white;

$widthLoader: 100px;


// GLOBAL FONTS
$ftRegular: arial, sans-serif;

$roboto: 'Roboto', $ftRegular;
$poppins: 'Poppins', $ftRegular;

$fontFamily: $poppins;
$baseFont: 16;


// MODAL
// $bgModal: $black;
// $maxWModal: 500px;
// $minHModal: 400px;
// $maxHModal: 550px;


// HEADER
// $heightNavItems: 70px;


// HAMBURGER BTN
// $acSizeHam: false;
// $sizeHam: 80px;
// $bgHam: transparent;
// $colorBarHam: $black;
// $widthBarHam: 24px;
// $heightBarHam: 2px;
// $radiusBarHam: 2px;
// $spaceBar: $heightBarHam + 3px;