/* PLACEHOLDERS */


// WIDTH
%width100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

%paddingLimit {
    padding-left: 20px;
    padding-right: 20px;
    @include mq(mob) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

%widthLimit {
    @extend %width100;
    max-width: $widthLimit;
    @extend %paddingLimit;
}

%widthLimit600 {
    @extend %width100;
    max-width: $widthLimit600;
    @extend %paddingLimit;
}


// HIDE INPUTS TYPE CHECKBOX AND RADIO
%hideCheckbox {
	display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}


// CENTER POSITION
%centerPos {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// PSEUDO ELEMENT
%pseudoEl {
    display: block;
    content: '';
    @extend %width100;
}

// TEXT
%titleS {
    font-size: toRem(70);
    @include mq(tab) {
        font-size: toRem(55);
    }
    @include mq(mob) {
        font-size: toRem(40);
    }
}

%xsText {
    font-size: toRem(14);
    @include mq(mob) {
        font-size: toRem(12);
    }
}

%sText {
    font-size: toRem(16);
    @include mq(mob) {
        font-size: toRem(14);
    }
}

%text {
    font-size: toRem(18);
    @include mq(mob) {
        font-size: toRem(16);
    }
}

%mText {
    font-size: toRem(20);
    @include mq(mob) {
        font-size: toRem(18);
    }
}

%xmText {
    font-size: toRem(22);
    @include mq(mob) {
        font-size: toRem(20);
    }
}

%iconsForm {
    font-size: toRem(20);
    @include mq(mob) {
        font-size: toRem(16);
    }
}