/* ALERTS */

.alert {
    @include flex;
    width: 100%;
    height: 100vh;
    background:brown;
    position: fixed;
    top: 0;
    left: 0;
    z-index: +1;


    // @include flex{
    //     flex-direction: column;
    // };
    // width: 100vw;
    // height: 100vh;
    // background: rgba($black,.5);
    // position: fixed;
    // top: 0;
    // left: 0;
    // opacity: 1;
    // @include transition;
    // z-index: +1;
    // @include mq(mobS2){
    //     flex-direction: row;
    // }
    // &__item {
    //     @include flex($ai:flex-start);
    //     width: calc(100% - 40px);
    //     max-width: 500px;
    //     max-height: 0;
    //     padding: 0 20px;
    //     margin-bottom: 0;
    //     background: $white;
    //     border-radius: 5px;
    //     box-shadow: 0 0 5px rgba($lBlack,.3);
    //     position: relative;
    //     top: -30px;
    //     pointer-events: none;
    //     opacity: 0;
    //     @include transition;
    //     overflow: hidden;
    //     .alert--noBg & {
    //         box-shadow: 0 0 5px rgba($lBlack,.5);
    //     }
    //     &:last-of-type {
    //         margin-bottom: 0;
    //     }
    //     &.active {
    //         max-height: 400px;
    //         padding: 20px;
    //         margin-bottom: 10px;
    //         top: 0;
    //         opacity: 1;
    //         pointer-events: all;
    //     }
    //     &__box {
    //         &:first-of-type {
    //             @include flex(flex-start);
    //             width: 50px;
    //         }
    //         &:last-of-type {
    //             width: calc(100% - 50px);
    //         }
    //     }
    //     &__img {
    //         width: 40px;
    //         height: 40px;
    //     }
    //     &__title {
    //         font-size: toRem(18);
    //         .alert__item__box--success & {
    //             color: $success;
    //         }
    //         .alert__item__box--warning & {
    //             color: $warning;
    //         }
    //         .alert__item__box--error & {
    //             color: $error;
    //         }
    //         .alert__item__box--information & {
    //             color: $information;
    //         }
    //     }
    //     &__desc {
    //         font-size: toRem(14);
    //     }
    // }
    // &--noBg {
    //     background: transparent;
    // }
}