/* BOXES */

// BIG BOX
.bigBox {
    @extend %width100;
    &__container {
        @extend %widthLimit;
    }
}

// TOP BAR
.topBar {
    @include flex;
    @extend %width100;
    min-height: 80px;
    padding: 25px;
    border-bottom: 3px solid $black;
    &__title {
        @extend %width100;
        @extend %text;
        text-transform: uppercase;
        text-align: left;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1;
        @include mq(mob) {
            text-align: center;
        }
    }
    @include mq(mob) {
        min-height: 70px;
        padding: 20px;
    }
}