/* BUTTONS */

.btn {
	@include flex($fw: nowrap, $d:inline-flex);
	vertical-align: middle;
	min-width: 100px;
	min-height: 22px;
	border: 1px solid transparent;
	padding: 10px 25px;
	background: $black;
	font-family: $poppins;
	@extend %text;
	text-align: center;
	color: $white;
	cursor: pointer;
	outline: none;
	@include transition( $time: .5 );
	@include mq(mob) {
		padding: 7px 20px;
	}
	&:hover {
		background: $red;
	}
	.form & {
		margin: 0 7px 7px 0;
	}
	&--invert {
		background: $red;
		&:hover {
			background: $black;
		}
	}
}