/* FORMS */
.form {
	@include flex;
	@extend %width100;
	position: relative;
	&__container {
		@include flex(space-between);
		@extend %widthLimit;
		position: relative;
	}
	&__box {
		@include flex($ai: stretch, $fw: nowrap);
		width: calc(50% - 7px);
		min-height: 43px;
		margin-bottom: 14px;
		@include mq(mob){
			width: 100%;
			min-height: auto;
			margin-bottom: 12px;
		}
		&__left {
			@include flex;
			min-width: 60px;
			background: $black;
			@include transition;
			.form__box--error & {
				background: $red;
			}
			svg {
				@extend %iconsForm;
				color: $white;
			}
			@include mq(mob) {
				min-width: 48px;
			}
		}
		&__right {
			@include flex($ai: stretch);
			@extend %width100;
		}
		&--checkbox {
			@include flex(flex-start);
		}
	}
	&__input, &__select {
		@extend %width100;
		padding: 10px 10px 10px 20px;
		border: 1px solid rgba($black, .5);
		border-radius: 0;
		font-family: $poppins;
		@extend %text;
		line-height: 1;
		@include transition;
		.form__box--error & {
			border-color: $red;
			color: $red;
		}
		@include mq(mob) {
			padding: 7px 10px;
		}
		@include placeholder {
			// 	@extend %text;
			color: rgba($black, .5);
		}
		&[readOnly] {
			background: rgba($black, .025);
		}
	}
	&__select {
		outline: none;
	}
	&__checkbox {
		// @include flex(flex-start);
		@extend %hideCheckbox;
		&::before {
			@extend %pseudoEl;
		}
		&:checked {
			& + .form__label--checkbox::after {
				opacity: 1;
			}
		}
	}
	&__btns {
		@extend %width100;
	}
	&__label {
		font-family: $poppins;
		@extend %text;
		user-select: none;
		&--checkbox {
			padding-left: 25px;
			color: rgba($black, .5);
			line-height: 1;
			position: relative;
			cursor: pointer;
			&::before, &::after {
				@extend %pseudoEl;
				width: 16px;
				height: 16px;
				border: 1px solid rgba($black, .5);
				border-radius: 4px;
				position: absolute;
				top: 1px;
				left: 0;
				cursor: pointer;
				@include mq(mob) {
					width: 15px;
					height: 15px;
					top: 0;
				}
			}
			&::after {
				@include flex;
				content: "✔";
				border-color: transparent;
				line-height: 1;
				@extend %xsText;
				color: $red;
				opacity: 0;
				@include transition;
			}
		}
	}
	&__alert {
		@include flex;
		@extend %width100;
		max-width: 300px;
		height: auto;
		max-height: 150px;
		padding: 20px;
		border: 1px solid $black;
		background: $white;
		position: absolute;
		@extend %centerPos;
		// opacity: 0;
		pointer-events: none;
		@include transition;
		&.show {
			opacity: 1;
		}
		&--error {
			color: $red;
		}
		&--success {
			color: $lGreen;
		}
		&__title, &__text {
			@extend %width100;
			@extend %text;
			text-align: center;
			line-height: 1;
		}
		&__title {
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: 600;
		}
		&__text {
			font-weight: 400;
			color: rgba($black, .5);
		}
	}
}