/* ORDER */

.order {
	@include flex;
	@extend %widthLimit600;
	&__header, &__content, &__footer, &__products, &__subtotal, &__total  {
		@include flex;
		@extend %width100;
	}
	&__header {
		min-height: 50px;
		padding: 12px 20px 10px;
		background: $beige;
	}
	&__content {
		border: 1px solid $beige;
	}
	&__title {
		font-family: $poppins;
        @extend %text;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		color: $black;
		letter-spacing: 1.1px;
        line-height: 1;
	}
	&__btns {
		@include flex;
		@extend %width100;
		padding: 25px;
		@include mq(mob){
			padding: 20px;
		}
	}
	&__subtotal, &__total {
		padding: 25px;
		background: $beige;
		@include mq(mob){
			padding: 20px;
		}
		&__title {
			@include flex;
			@extend %width100;
			@extend %sText;
			font-weight: 600;
			text-transform: uppercase;
			color: $black;
			line-height: 1;
			&:not(:last-of-type) {
				margin-bottom: 6px;
			}
		}
		&__value {
			margin-left: auto;
			text-transform: none;
		}
	}
	&__total {
		background: $black;
		&__title {
			color: $white;
		}
	}
}