/* PRODUCT */

.product {
	@include flex($ai: stretch);
	padding: 10px;
	border-bottom: 1px solid $beige;
	@include mq(mob){
		padding: 0;
	}
	&__box {
		padding: 15px;
		&:first-of-type, &:last-of-type {
			width: calc(100% / 4);
		}
		&:nth-of-type(2) {
			width: calc((100% / 4) * 2);
		}
		@include mq(mob){
			padding: 20px 0 20px 20px;
			&:first-of-type {
				width: calc((100% / 12) * 3);
			}
			&:nth-of-type(2) {
				width: calc((100% / 12) * 5);
			}
			&:last-of-type {
				width: calc((100% / 12) * 4);
			}
			&:last-of-type {
				padding: 20px 20px 20px 0;
			}
		}
	}
	&__name {
		@extend %sText;
		text-transform: uppercase;
		color: rgba($black, .5);
		line-height: 1;
	}
	&__img {
		@extend %width100;
		height: auto;
		object-fit: contain;
	}
	&__price {
		@extend %width100;
		@extend %sText;
		font-weight: 600;
		text-align: right;
		line-height: 1;
	}
}