/** CONTAINER **/

// CONTAINER
.container {
    width: 100%;
    &--general {
        overflow: hidden;
    }
    &--limit {
        @extend %widthLimit;
    }
    &--flex {
        @include flex;
    }
    &__left, &__right {
        width: 50%;
        @include mq(mob) {
            width: 100%;
        }
    }
    &__left {
        order: 0;
    }
    &__right {
        order: 1;
    }
    &__title {
        @extend %width100;
        text-align: center;
        @extend %titleS;
        color: $mGray;
        font-weight: 500;
    }
    &__text {
        @extend %width100;
        text-align: center;
    }
    &--advantages {
        padding: 80px 0;
        position: relative;
        &::before {
            @extend %pseudoEl;
            width: 100%;
            height: 100%;
            background: rgba($dBlue, .25);
            position: absolute;
            @extend %centerPos;
        }
        .container {
            &__title {
                color: $white;
                font-weight: 500;
                position: relative;
                z-index: +1;
            }
        }
    }
    &--curtain {
        @include flex($ai: stretch);
        min-height: 425px;
        height: auto;
        position: relative;
        overflow: hidden;
        .container {
            &__left {
                @include flex($ai: flex-start);
                width: 40%;
                padding: 20px;
                background: $xlGray;
                position: relative;
                &::before {
                    @extend %pseudoEl;
                    width: 0;
                    height: 0;
                    border: 40px solid;
                    border-color: transparent transparent transparent $xlGray;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -80px;
                    @include transition($time: .55){
                        transition-delay: .2s;
                    };
                    z-index: +2;
                }
            }
            &__right {
                @include flex;
                width: 60%;
                position: relative;
                z-index: +1;
                &::before {
                    @extend %pseudoEl;
                    width: 100%;
                    height: 100%;
                    // background: var(--bgCurtain);
                    position: absolute;
                    pointer-events: none;
                    @extend %centerPos;
                    @include transition($time: .55){
                        transition-delay: .2s;
                    };
                    z-index: -1;
                }
            }
            &__title {
                @include flex;
                width: 100%;
                min-height: 100%;
                height: 100%;
                @include transition($time: .55);
                transform: scale(1);
            }
            &__text {
                @extend %text;
                color: $white;
            }
            &__content {
                @include flex;
                @extend %width100;
                height: 100%;
                padding: 20px;
                background: var(--bgCurtain);
                position: absolute;
                top: 100%;
                left: 0;
                @include transition($time: .55){
                    transition-delay: .1s;
                };
            }
        }
        &:hover {
            .container {
                &__title {
                    min-height: 0;
                    height: calc(50% - 40px);
                    transform: scale(.8);
                }
                &__left {
                    &::before {
                        border-color: transparent transparent transparent var(--bgCurtain);
                    }
                }
                &__content {
                    top: calc(50% - 40px);
                    height: calc(50% + 40px);
                }
            }
        }
    }
    &--invert {
        .container {
            &__left {
                order: 1;
                &::before {
                    left: -80px;
                    right: unset;
                    transform: rotate(180deg);
                }
            }
            &__right {
                order: 0;
            }
        }
    }
}